html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div.event-lightbox {
  position: absolute;
  color: white;
  text-align: center;
  background: #202020;
  display: block;
  width: 300px;
  height: 80px;
  border: 0px solid black;
  opacity: 0.5;
  border-radius: 25px;
  padding: 10px;
  font-family: arial, sans-serif;
}
div.event-lightbox div {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 280px;
}
div.event-lightbox div span {
  display: block;
  padding-top: 10px;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

div#container {
  background: black;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
div#inner {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 900px;
  height: 500px;
}

.google-visualization-tooltip {
  visibility: hidden;  
}

path {
  cursor: pointer;
}

div.event-lightbox img {
  height: 200px;
  border-radius: 50%;
}

.circular {
  display: inline-block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid black;
  background-clip: padding-box;
}
.circular img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}
